<html>
    <body>
        <h4 style="text-transform: capitalize;">your order has been successfully placed </h4><br>
        <label style="color: orange;">Order Number: {{orderp.ordernumber}}</label><br>
        <h4>Product Detail</h4><br>
        <label>Product Name: {{orderp.product_name}}</label><br>
        <label>Product Category: {{orderp.product_category}}</label><br>
        <label>Quantity: {{orderp.product_quantity}}</label><br>
        <label>Total Price: {{orderp.total_amount}}</label><br>
    </body>
</html>