<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    {% block title %}
    {% endblock %}
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'customer/css/home.css' %}">

    {% block css %}
    
    {% endblock %}
  </head>
<body>
    
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top" style="margin-bottom: 50px;">
          <a class="navbar-brand" href="{%url 'home' %}"><span style="color: green ;font-weight: 900;">E-agriculture</span></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{%url 'home' %}">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Register
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {% if user.is_authenticated %}
                    {% if seller == 'yes' %}
                      <a class="dropdown-item" href="{% url 'register' %}">Register as customer</a>
                    {% endif %} 
                    {% else %}
                        <a class="dropdown-item" href="{% url 'register' %}">Register as customer</a>   
                  {% endif %}   
                  {% if user.is_authenticated %}
                    {% if seller != 'yes' %}    
                        <a class="dropdown-item" href="{% url 'sellerregister' %}">Register as seller</a>
                    {% endif %}  
                    {% else %}
                        <a class="dropdown-item" href="{% url 'sellerregister' %}">Register as seller</a>     
                  {% endif %}       
                  <!-- <div class="dropdown-divider"></div> -->
                  <!-- <a class="dropdown-item" href="#">Something else here</a> -->
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Login
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {% if user.is_authenticated %}
                    {% if seller == 'yes' %}
                      <a class="dropdown-item" href="{% url 'login' %}">login as customer</a>
                    {% endif %} 
                    {% else %}   
                    <a class="dropdown-item" href="{% url 'login' %}">login as customer</a>
                  {% endif %}     
                  {% if user.is_authenticated %}
                    {% if seller != 'yes' %}
                      <a class="dropdown-item" href="{% url 'sellerlogin' %}">login as seller</a>
                    {% endif %}    
                    {% else %}
                        <a class="dropdown-item" href="{% url 'sellerlogin' %}">login as seller</a>
                  {% endif %}    
                  <!-- <div class="dropdown-divider"></div> -->
                  <!-- <a class="dropdown-item" href="#">Something else here</a> -->
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Category
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">            
                  <a class="dropdown-item" href="/products/filterproduct/vegetable(seed)">Vegetable Seeds</a>                                        
                  <a class="dropdown-item" href="/products/filterproduct/fertilizers">Fertilizers</a>                                        
                  <a class="dropdown-item" href="/products/allprods/">All products</a>                                        
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/discussion/displayforum">Discussion</a>
              </li>
            </ul>
              <!-- {% if user.is_authenticated %}
                {% if seller == 'yes' %}
                    <a class="nav-link disabled" href="{% url 'sellerdashboard' %}">Dashboard</a>
                    <a class="nav-link disabled" href="{% url 'addproduct' %}">Add product</a>
                    
                {% endif %}    
              {% endif %} -->
              <button type="button" class="btn btn-outline-success" id="track_btn_ord" data-toggle="modal" data-target="#TrackOrder">
                TRACK MY ORDER
              </button>
              <form method="get" action="/search" class="form-inline mr-5 my-lg-0 ">
                <input class="form-control mr-sm-1" type="search" placeholder="Search" aria-label="Search" name="search" id="search" style="margin-left: 10px;">
                <button class="btn btn-outline-success my-0 my-sm-0" type="submit">Search</button>
              </form>
              {% if user.is_authenticated %}
              <li class="nav-item dropdown" style="margin-top: -2%;margin-right: 3%;">
              
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{user.username}}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">            
                {% if seller == 'yes' %}
                <a class="nav-link disabled" href="{% url 'sellerdashboard' %}">Dashboard</a>
                <a class="nav-link disabled" href="{% url 'addproduct' %}">Add product</a>
                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a> 
                {% else %}    
               <a class="dropdown-item" href="/profile/">profile</a>   
                <hr>                                     
                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>     
                {% endif %}                                    
            </div>
            </li>
              {% endif %}                                      
              

          </div>
    </nav><br><br><br>
  
    <div class="modal fade" id="TrackOrder" tabindex="-1" role="dialog" aria-labelledby="title" aria-hidden="true">
      <div class="modal-dialog" role="document" style="text-align:center;">
        <div class="modal-content">
          <div class="modal-header">
            <h6 id="title" style="text-align:center; margin:0px auto;">Track Your Order</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-left:0px;">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form method="POST" action="{% url 'ordertracker' %}" id="searchForm">
            {% csrf_token %}
            <div class="modal-body">
              <input type="text" name="ordernumber" id="ordernumber" placeholder="Enter your order number" style="width:80%;"/>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary" name="submit" id="track_btn">Track Order</button>
            </div>
          </form>
        </div>
      </div>
    </div>  
    
  <div class="container-fluid">
    {% for m in messages %}
    <div class="alert alert-success" role="alert"> 
          {{m}}
    </div>
    {% endfor %}
    {% block content %}
    
    {% endblock %}
  </div>

  <div class="row mt-5">
    <div class="footerbanner">
      <div class="container">
        <div class="col-md-4" style="float: left;">
          <div class="footer">
            <h1>Categories</h1>
            <a href="{% url 'about' %}">About us</a><br>  
            <a href="" class="disabled">Fertilizers</a><br>
            <a href=""> Seasonal </a>

          </div>
       
      </div>
      <div class="col-md-4" style="float: left;">
        <div class="footer">
          <h1>HELP</h1>
          <a href="" class="disabled">Track Orders</a><br>
          <a href="" class="disabled">Shippings</a><br>
          <a href=""> FAQs </a>
        </div>
      </div>
      <div class="col-md-4" style="float: left;">
        <div class="footer">
          <h1>GET IN TOUCH</h1>
          <p style="color: #fff; ">any questions?Let us know.</p>
          <a href="/discussion/feedback">Feedback</a><br>
        
        </div>
      </div>
      
      </div>
     
    </div>
  
  </div> 
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="{% static 'customer/js/order.js' %}"></script>
  <script src="{% static 'customer/js/proceed.js' %}"></script>
  {% block js %}
  {% endblock %}
</body>
</html>