{% extends 'customer/base1.html' %}

{% block content %}
    <div class="cont" style="width: 100%;  height: auto;float: left;"> 
        <h1 style="font-family: sans-serif; "> Search Results:</h1>
    <div class="container">
        {% if products|length < 1 %}
        <p>No search results</p>
        Your search query: <b>{{query}}</b> did not match any documents. <br>
        <ul>
            <li>Make sure all words are spelled correctly</li>
            <li>Try different keywords</li>
            <li>Try more general keyword</li>
            <li>Try fewer keywords</li>
        </ul> 
        {% endif %}

    </div>
    {% for product in products %}
    
    <div class="col-md-3 mt-3 ml-5" style="float:left;">

        <div class="card" style="width: 15rem;">
        <img class="card-img-top" src="{{ product.image.url }}" alt="Card image cap" style="height: 300px;">
        <div class="card-body">
            <a href="/products/orderdetail/{{product.id}}"><h5 class="card-title">{{ product.title }}</h5></a>
            <p style="font-weight:76;"> NPR {{ product.price }}</p>
            <a href="/products/orderdashboard/{{product.id}}" class="btn btn-primary form-control">Order Now</a>
        </div>
        
        </div>
        <hr>
        
    </div>    
    

    {% endfor %}
    </div>
{% endblock %}